@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

*{
  font-family: 'Poppins', sans-serif;
}

.page{
    text-decoration: none;
    color: #fff;
}

.button-nav{
  background-color: #0d6efd;
  border-radius: 10px;
}


.button-nav:hover{
  background-color: #0d6efd;
}

.page:hover{
    color: #000;
    text-decoration: none;
    margin-top: 20px;
}

.page {
    color: #18272F;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;

  }
  
  .page::after {
    content: "";
    position: absolute;
    background-color: #0d6efd;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  .page:hover::after {
    width: 100%;
  }

  .logo-title{
    color: #000;
  }

  .logo-title:hover{
    color: #000;
    text-decoration: none;
  }