@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.page{
    text-decoration: none;
    color: #fff;
}

.button-nav{
  background-color: #0d6efd;
  border-radius: 10px;
}


.button-nav:hover{
  background-color: #0d6efd;
}

.page:hover{
    color: #000;
    text-decoration: none;
    margin-top: 20px;
}

.page {
    color: #18272F;
    position: relative;
    text-decoration: none;
  }
  
  .page::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #0d6efd;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .page:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    margin-top: 20px;
  }

  .logo-title{
    color: #000;
  }

  .logo-title:hover{
    color: #000;
    text-decoration: none;
  }