footer{
    background-color: #198754;
}

section{
    padding-top: 55px;
    padding-bottom: 30px;
}

.pic1{
    margin-left: 70px;
    width: 500px;
    height: 500px;
}

.page0{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 0px;
}

a, li{
    list-style: none;
    font-size: 14px;
    color: #2f2f2f;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #000;
}

h5{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}
.kaki{
    font-style: italic;
}

.icon{
    font-size: 24px;
    color: #000;
    margin-left: 15px;
}

@media all and (min-width:375px) and (max-width: 480px) {
    .page, .image, .slide{
        height: 200px;
        width: 320px;
        margin-left: 0px;
    }

    .pic1{
        margin-left: 0px;
        width: 400px;
        height: 400px;
    }
  }