footer{
    background-color: #0d6efd;
}

section{
    padding-top: 55px;
    padding-bottom: 30px;
}

.tool{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}


.page0{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 0px;
}

.pages{
    background-color: #0d6efd;
}

.btn-page{
    background-color: #0d6efd;
     border-radius: 10px;
}

.btn-page:hover{
    background-color: #0d6efd;
}

a, li{
    list-style: none;
    font-size: 14px;
    color: #2f2f2f;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #000;
}

h5{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}
.kaki{
    font-style: italic;
}

.icon{
    font-size: 24px;
    color: #000;
    margin-left: 15px;
}

@media all and (min-width:321px) and (max-width: 480px) {
    .page, .image, .slide{
        height: 200px;
        width: 320px;
        margin-left: 0px;
    }
    .tool{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        margin: 10px;
    }
  }